[package]
name = "conquer-util"
version = "0.1.0"
authors = ["Oliver Giersch <oliver.giersch@b-tu.de>"]
edition = "2018"

[features]
default  = ["std"]

std      = []

align    = []
alloc    = []
back-off = []
tls      = []

[[bench]]
name = "backoff"
required-features = ["back-off"]

[package.metadata.docs.rs]
all-features = true
